@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.container {
  background-color: #EDF2F8;
}
.container .wrap {
  max-width: 1400px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;
}
.container .wrap .item-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.container .wrap .item-grid .item1, .container .wrap .item-grid .item2, .container .wrap .item-grid .item3, .container .wrap .item-grid .item4, .container .wrap .item-grid .item5 {
  padding: 1rem;
  border-radius: 10px;
}
.container .wrap .item-grid .item1:hover, .container .wrap .item-grid .item2:hover, .container .wrap .item-grid .item3:hover, .container .wrap .item-grid .item4:hover, .container .wrap .item-grid .item5:hover {
  box-shadow: 1px 1px 20px #000;
  transform: scale(1.1);
  transition: 0.3s;
}
.container .wrap .item-grid .item1 .item-header, .container .wrap .item-grid .item2 .item-header, .container .wrap .item-grid .item3 .item-header, .container .wrap .item-grid .item4 .item-header, .container .wrap .item-grid .item5 .item-header {
  display: flex;
  align-items: center;
}
.container .wrap .item-grid .item1 .item-header .user-icon img, .container .wrap .item-grid .item2 .item-header .user-icon img, .container .wrap .item-grid .item3 .item-header .user-icon img, .container .wrap .item-grid .item4 .item-header .user-icon img, .container .wrap .item-grid .item5 .item-header .user-icon img {
  border: 2px solid #fff;
  border-radius: 50%;
}
.container .wrap .item-grid .item1 .item-header .user-description, .container .wrap .item-grid .item2 .item-header .user-description, .container .wrap .item-grid .item3 .item-header .user-description, .container .wrap .item-grid .item4 .item-header .user-description, .container .wrap .item-grid .item5 .item-header .user-description {
  padding-left: 1rem;
}
.container .wrap .item-grid .item1 .item-header .user-description p, .container .wrap .item-grid .item2 .item-header .user-description p, .container .wrap .item-grid .item3 .item-header .user-description p, .container .wrap .item-grid .item4 .item-header .user-description p, .container .wrap .item-grid .item5 .item-header .user-description p {
  color: #fff;
}
.container .wrap .item-grid .item1 .item-header .user-description span, .container .wrap .item-grid .item2 .item-header .user-description span, .container .wrap .item-grid .item3 .item-header .user-description span, .container .wrap .item-grid .item4 .item-header .user-description span, .container .wrap .item-grid .item5 .item-header .user-description span {
  color: rgba(191, 191, 191, 0.777);
}
.container .wrap .item-grid .item1 .item-content p, .container .wrap .item-grid .item2 .item-content p, .container .wrap .item-grid .item3 .item-content p, .container .wrap .item-grid .item4 .item-content p, .container .wrap .item-grid .item5 .item-content p {
  font-size: 1.3rem;
  color: #fff;
  padding-bottom: 0.5rem;
}
.container .wrap .item-grid .item1 .item-content span, .container .wrap .item-grid .item2 .item-content span, .container .wrap .item-grid .item3 .item-content span, .container .wrap .item-grid .item4 .item-content span, .container .wrap .item-grid .item5 .item-content span {
  color: rgba(191, 191, 191, 0.777);
}
.container .wrap .item-grid .item1 {
  background-color: #733FC8;
  grid-column: 1/3;
}
.container .wrap .item-grid .item2 {
  background-color: #49556B;
}
.container .wrap .item-grid .item3 {
  background-color: #FFFFFF;
  grid-column: 4/5;
  grid-row: 1/3;
}
.container .wrap .item-grid .item3 .item-header .user-description p {
  color: #18202D;
}
.container .wrap .item-grid .item3 .item-header .user-description span {
  color: rgba(191, 191, 191, 0.777);
}
.container .wrap .item-grid .item3 .item-content p {
  color: #18202D;
}
.container .wrap .item-grid .item3 .item-content span {
  color: rgba(191, 191, 191, 0.777);
}
.container .wrap .item-grid .item4 {
  background-color: #FFFFFF;
}
.container .wrap .item-grid .item4 .item-header .user-description p {
  color: #18202D;
}
.container .wrap .item-grid .item4 .item-header .user-description span {
  color: rgba(191, 191, 191, 0.777);
}
.container .wrap .item-grid .item4 .item-content p {
  color: #18202D;
}
.container .wrap .item-grid .item4 .item-content span {
  color: rgba(191, 191, 191, 0.777);
}
.container .wrap .item-grid .item5 {
  background-color: #18202D;
  grid-column: 2/4;
}

@media (max-width: 900px) {
  .container {
    align-items: start;
  }
  .container .wrap {
    height: 100%;
    padding: 1rem;
  }
  .container .wrap .item-grid {
    display: flex;
    flex-direction: column;
  }
  .container .wrap .item-grid .item1:hover, .container .wrap .item-grid .item2:hover, .container .wrap .item-grid .item3:hover, .container .wrap .item-grid .item4:hover, .container .wrap .item-grid .item5:hover {
    transform: none;
  }
}/*# sourceMappingURL=style.css.map */